.homeContainer{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.homeDetails{
    width: 100vw;
    height: 24vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeButtons{
    width: 100vw;
    height: 6vh;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.homePhases{
    width: 100vw;
    height: 60vh;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phase{
    cursor: pointer;
}